
body {
	font-family: 'PT Sans Narrow','PT Sans Caption' ,'Arial' sans-serif;
	background:#ae607f;

	
}

.logo-conteiner{
	display: flex;
	align-items: center;
	padding-top: 15px;
	padding-bottom: 15px;
	background-color: #D7A2B7;		
}
.logo, .menu{
	margin: auto;	
}
.menu-conteiner{
	display: flex;
	align-items: center;
	font-size: 20px;
	margin-bottom: 20px;
	background-color:#B8C4AE;	
	background-color:#D7A2B7;
}
.menu ul li{
	display: inline-block;
	list-style: none;
	padding:7px;
}
.menu a{
	margin-left: 40px;
	margin-right: 40px;
	text-decoration: none;
	color: #ffffff;
	font-size: 30px;	
}
.menu a:Hover{
	color: #ae607f;
}
.menu-trigger {
  	display:none;
  	color:#F8ECC2;
}

.section-about-conteiner {
	background:  #D7A2B7;
	font-size: 30px;
	color:#ae607f;
	padding-top: 10px;
	text-align: center;
}

.section-about-conteiner h1{
	font-size: 35px;
}

.section-about-conteiner h3{
	border-top: 1px solid #fff;
	padding-top: 50px;

}
.section-about-conteiner img {
	margin-top: 50px;
	margin-bottom: 50px;
	border: 1px solid #B8C4AE;
	border-radius: 200px;
	
}

.section-news-conteiner{
	background: #ae607f;
	display: flex;
	flex-direction: column;
	
}

.section-about-row-2, .title-news{
	display: flex;
	color:#fff;
    padding: 20px;
    text-align: center;
    justify-content: center;
}
.section-about-row-2 p{
	padding: 40px;
	margin:auto;
	padding: 10px;
	text-align: left;
}
.section-about-row-2 img{
	margin:auto;
	float:right;
}
.title-news h3{
	color: #B8C4AE;	
	border: 1px solid #B8C4AE;
	border-radius: 100px;
	padding: 10px;

}

/*---Gallery--*/

.gallery-conteiner{
	display: flex;
	flex-direction: column;
	justify-content: center;
	background: #D7A2B7;
	
}

.gallery-conteiner h1{
	color: #ae607f;	
	text-align: center;
}

#screen {
		position: relative;
		width: 100%;
		height: 1000px;
		background: #B8C4AE;
		overflow: hidden;
		color: #ae607f;	
	}
	#screen img, canvas { 
		
		position: absolute;
		cursor: pointer;
        image-rendering: optimizeSpeed;
	}
	
	#screen .fog { 
		position: absolute;
		background: #fff;
		opacity: 0.1;
		filter: alpha(opacity=10);
	}

	
	#bar .button { 
		position: absolute;
		background: #222;
		width: 20px;
		height: 20px;
		cursor: pointer;
	}
	#bar .loaded { 
		background: #666;
	}
	#bar .viewed { 
		background: #fff;
	}
	#bar .selected { 
		background:  #ae607f;
	}

/*---Gallery--*/

/*----Map---*/

.contacts-conteiner{
	display: flex;
	
	color: #fff;
	font-size: 25px;
	

}

.map{
	
	width: 300px; 
	height: 300px;
	margin: auto;
	padding-top: 10px;
}

.adress{
	padding: 40px;
	margin:auto;
}
.adress p{
	padding: 20px;
	
}

.links{
	margin:auto;
	font-size: 50px;
}
.links ul{
	padding: 20px;
}
.links ul li{
	display: inline-block;
	list-style: none;
}
.links a{	
	color:#B8C4AE;
	margin:80px;	
}
.links a:hover{
	color:#D7A2B7;
}

.footer{
	display: flex;
	flex-direction: column;
	background-color:#D7A2B7;	
}
.footer_conteiner{
	display: flex;
	justify-content: center;
}

.footer_menu ul{
	padding:20px;
}
 .footer_menu ul li{
	display: inline-block;
	list-style: none;
}
.footer_menu a{
	padding-right: 6px;
	border-right: 1px solid #ae607f;
	text-decoration: none;
	color: #ae607f;
	font-size: 20px;
}
.footer_menu a:hover{
	color:#fff;
}

.develop, .rights{
	padding-top: 0px;
	font-size: 15px;
	color:#ae607f;
	text-align: center;
}
.button-up{
	text-align: left;	
	padding: 40px;
}
.button-up a{
	padding: 10px;
	font-size: 20px;
	border: 1px solid #fff;
	border-radius: 10px;
	text-decoration: none;
	background-color: #ae607f;
	color: #fff;
}
.button-up a:hover{
	background-color: #B8C4AE;
	color: #ae607f;
	border-color: #ae607f;
}
/*-- end footer--*/














@media (max-width:800px) {
  .menu-trigger {
    display:block;
	margin:20px;
	border-bottom: 1px #79896D solid; 
  }

.menu-conteiner{
	background-color: #D7A2B7;		
}

  .menu ul li {
    display:block;
    border-bottom: 1px #79896D solid;   
  }
  .menu ul {
    display:none;
  }
  .menu a{
  	font-size: 20px;
  }

.section-about-conteiner h1{
	font-size: 25px;
}
.section-about-conteiner p{
	font-size: 20px;
}
.title-news {
	font-size: 15px;

}

.title-news h1{
font-size: 25px;
}

.gallery-conteiner h1{
	font-size: 25px;
}

#screen {
		height: 480px;	
	}

.contacts-conteiner{
	flex-direction: column;	
	text-align: center;

}

}





